#######
# DOM #
#######

snippet div "<div>" b
<div$1>
	${0:${VISUAL}}
</div>
endsnippet

snippet ul "<ul>" b
<ul$1>
	${0:${VISUAL}}
</ul>
endsnippet

snippet li "<li>" b
<li$1>${0:${VISUAL}}</li>
endsnippet
